.align-items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.container__counter {
    font-size: 4rem;
}

.container {
    min-height: 80vh;
}

.container__button {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: .6rem 1rem;
}

.container__button--increment {
    margin-right: .5rem;
}